---
servers:
  irc.example.com:
    nick: 'b'
    auth:
      type: 'nickserv'
      password: 'password'
    prefix: '^.'
    admins:
      - 'admin'
    ssl: true
    port: 7001
    channels:
      - '#ruby'
    disabled_plugins: []
